*~
*.pyc
__pycache__
/#Readme.py#
/.#Readme.py
/Makefile.mike
/Makefile.sphinx
/conf.py
/docbuild/doctrees/environment.pickle
/docbuild/doctrees/index.doctree
/docbuild/html/.buildinfo
/docbuild/html/_sources/index.txt
/docbuild/html/_static/ajax-loader.gif
/docbuild/html/_static/basic.css
/docbuild/html/_static/comment-bright.png
/docbuild/html/_static/comment-close.png
/docbuild/html/_static/comment.png
/docbuild/html/_static/default.css
/docbuild/html/_static/doctools.js
/docbuild/html/_static/down-pressed.png
/docbuild/html/_static/down.png
/docbuild/html/_static/file.png
/docbuild/html/_static/jquery-1.11.1.js
/docbuild/html/_static/jquery.js
/docbuild/html/_static/minus.png
/docbuild/html/_static/plus.png
/docbuild/html/_static/pygments.css
/docbuild/html/_static/searchtools.js
/docbuild/html/_static/sidebar.js
/docbuild/html/_static/underscore-1.3.1.js
/docbuild/html/_static/underscore.js
/docbuild/html/_static/up-pressed.png
/docbuild/html/_static/up.png
/docbuild/html/_static/websupport.js
/docbuild/html/genindex.html
/docbuild/html/index.html
/docbuild/html/objects.inv
/docbuild/html/search.html
/docbuild/html/searchindex.js
/index.rst
